type project
owners
    Christopher Atkins
authors 
    Christopher Atkins
projectUrl
    http://github.com/caindy/BondTypeProvider
iconUrl
    https://raw.githubusercontent.com/caindy/BondTypeProvider/master/docs/files/img/logo.png
licenseUrl
    http://github.com/caindy/BondTypeProvider/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2016
tags
    
summary
    an F# Type Provider of Bond types
description
    Description not set


